{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <button type="submit">Login</button>
</form>
{% endif %}


<hr>

<h1>My To-Do list </h1>
<a href="{% url 'task-create' %}">Add Task</a>

<form method="GET" style="display: flex;">
    <input type='text' name='search-area' placeholder="Search your task" value="{{search_input}}">
    <input class="button" type="submit" value='Search'>
</form>

<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td> {{task.title}} </td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

